.heading{
  padding-left: 2%;
    font-size: 2rem;
    padding-bottom: 2%;
}
.all{
    margin-top: 0px;
    
}
body {
    margin: 0;
    padding: 0;
  }
 .program-container{
   margin-top: 10%;
   padding-top: 0px;
 }
 .col-program{
  text-align: center;
  border: 2px solid #afadad;
  padding: 1.5rem 1rem;
  background-color: #fff;
  width: 30%;
  align-items: center;
 
 }
 .card-title{
  text-align: center;
  padding-left: 3%;
 }
 .num{
  padding-left: 2%;
  font-size: 2rem;
 }
 /* Data Component CSS for Mobile View */
@media only screen and (max-width: 768px) {
  .program-container {
    padding: 20px; /* Add padding */
  }

  .heading {
    font-size: 24px; /* Adjust font size */
    text-align: center; /* Center align */
  }

  .row.program-row {
    display: flex;
    flex-direction: column; /* Change to column layout for smaller screens */
    align-items: center; /* Center align */
    width: 100vw;
  }

  .col-program {
    margin-bottom: 20px; /* Adjust margin */
    text-align: center; /* Center align */
  }

  .program-card-image {
    width: 100px; /* Adjust image size */
    height: 100px; /* Adjust image size */
    margin-bottom: 10px; /* Adjust margin */
  }

  .num {
    font-size: 24px; /* Adjust font size */
    margin-bottom: 5px; /* Adjust margin */
  }

  p {
    font-size: 16px; /* Adjust font size */
  }
}

